# Datos de despliegue development | test | production
NODE_ENV=development
PORT=4500

# Configuración de la base de datos
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_DATABASE=alimenta
DB_SCHEMA=proyecto
DB_PORT=5432

DB_SCHEMA_USUARIOS=usuarios
DB_SCHEMA_PARAMETRICAS=parametricas
DB_SCHEMA_HISTORICOS=historicos
DB_SCHEMA_HISTORIA_CLINICA=historias_clinicas
DB_SCHEMA_PLAN_NUTRICIONAL=planes_nutricionales
# Configuración general de la aplicación
PATH_SUBDOMAIN=api
REQUEST_TIMEOUT_IN_SECONDS=30

# Configuración para módulo de autenticación
JWT_SECRET=__JWT_SECRET__
JWT_EXPIRES_IN=30000000000

REFRESH_TOKEN_NAME=jid
REFRESH_TOKEN_EXPIRES_IN=36000000000
REFRESH_TOKEN_ROTATE_IN=90000000
REFRESH_TOKEN_SECURE=false
REFRESH_TOKEN_DOMAIN=test.com
REFRESH_TOKEN_PATH=/
REFRESH_TOKEN_REVISIONS='*/5 * * * *'

# Configuración para el servicio de Mensajería
EMAIL_USER="vcopafabian@gmail.com"
EMAIL_PASSWORD="wyuvbnichuadoimt"
EMAIL_RESPONSE_TIMEOUT=10

# Configuración para el servicio de autenticación
SESSION_SECRET=__SESSION_SECRET__

# Configurar la URL del frontend
URL_FRONTEND=http://localhost:9500/

# Configuración para almacenamiento de archivos
STORAGE_NFS_PATH=./tmp/storage/

# Habilita el registro de logs
LOG_ENABLED=true

# Configura el registro de logs (trace, debug, info, warn, error)
LOG_LEVEL=info

# Logs de auditoria disponibles:
# - application
# - request
# - response
# - authentication
# - mensajeria
LOG_AUDIT='application request response authentication mensajeria'

# Habilita la impresión de logs por la consola (en PRODUCCIÓN colocar los valores: LOG_CONSOLE=false y LOG_SQL=false)
LOG_CONSOLE=true
LOG_SQL=true

# Para guardar logs en ficheros
LOG_FILE_ENABLED=true
LOG_FILE_PATH=./tmp/logs/
LOG_FILE_SIZE=50M
LOG_FILE_INTERVAL=YM

# Para guardar logs en la nube con loki
LOG_LOKI_ENABLED=false
LOG_LOKI_URL=http://localhost:3100/
LOG_LOKI_USERNAME=
LOG_LOKI_PASSWORD=
LOG_LOKI_BATCHING=true
LOG_LOKI_BATCH_INTERVAL=5
